        @import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');
        /*------------------------------- MEDIA OF INDEX + NAVIGATION------------------------------------------------*/
        
        @media all and (max-width: 1000px) {
            .div-a-nav {
                display: none;
            }
            .img-nav {
                display: flex;
                justify-content: left;
            }
            div#main {
                display: block;
            }
            a.hamburger-a {
                font-size: 20px;
                font-family: 'Exo 2', sans-serif;
                font-weight: 700;
            }
            img.hamburger-img {
                width: 100px;
            }
            .top_offer {
                display: grid;
                column-gap: 10px;
                row-gap: 10px;
                grid-template-columns: repeat(2, 1fr)
            }
            .top_offers_hover:hover {
                transform: scale(1.0);
            }
            .toplocations-section {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
            }
            .toplocations-section img {
                width: 200px;
            }
        }
        
        @media all and (min-width: 1100px) {
            #mySidenav {
                display: none;
            }
        }
        /*------------------------ For Sell and For Rent MEdia ----------------------*/
        
        @media all and (max-width: 1000px) {
            .row {
                margin: 10px -16px;
            }
            .row {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                width: 80%;
                margin: auto;
                align-content: center;
                align-items: center;
            }
        }
        
        @media all and (max-width: 600px) {
            .row {
                margin: 10px -16px;
            }
            .row {
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                margin-left: 20px;
                margin: auto;
                align-content: center;
                align-items: center;
            }
            .btn_city {
                border: none;
                outline: none;
                padding: 12px 16px;
                background-color: white;
                cursor: pointer;
                font-size: 15px;
                margin-top: 15px;
                margin-bottom: 15px;
                transition: 0.5s ease;
            }
        }
        /*------------------ Footer------------------*/
        
        @media all and (max-width: 600px) {
            .footer-logo {
                display: none;
            }
        }
        /*------------------------ Contact us ----------------------*/
        
        @media all and (max-width: 600px) {
            .google-maps {
                display: none;
            }
        }
        
        @media all and (max-width: 1000px) {
            .google-maps {
                display: none;
            }
        }
        /*------------------------ About us ----------------------*/
        
        @media all and (max-width: 1000px) {
            .about_cards {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                font-family: 'Exo 2', sans-serif;
                font-weight: 700;
                margin: auto;
            }
        }
        
        @media all and (max-width: 700px) {
            .about_cards {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                font-family: 'Exo 2', sans-serif;
                font-weight: 700;
                margin: auto;
            }
            .overlay {
                display: none;
            }
            .just-an-img {
                display: none;
            }
        }
        
        @media all and (max-width: 1000px) {
            .overlay {
                display: none;
            }
        }